<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="articulos.css"/>
    <title>ARTICULOS</title>

    
    
</head>
<body>
    <header>
        <nav class="inicio">
            <div class="paginas">
                <a href="index.html">INICIO</a>
                <a href="login.html">INICIAR SESION</a>
                <a href="enfoque.html">NUESTRO ENFOQUE</a>
                <a href="contacto.html">CONTACTANOS</a>
            </div>
        </nav>
    </header>





    <div class="pag-nav"> 
        
    </div>

    <h1 class="titulo">NUESTRO STOCK ACTUAL</h1>


    <div class="pag-contenido">
        <div class="producto-contenido">
            <h3>Memoria Ram</h3>
            <img src="imgs/producto1.jpg" />
            <h1>$49.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Ventiladores para PC</h3>
            <img src="imgs/producto2.jpg"/>
            <h1>$29.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Audifonos Gamer</h3>
            <img src="imgs/producto3.jpg"/>
            <h1>$59.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Mouse Gamer</h3>
            <img src="imgs/producto4.jpg"/>
            <h1>$79.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Disco Solido</h3>
            <img src="imgs/producto5.jpg"/>
            <h1>$99.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Case</h3>
            <img src="imgs/producto6.jpg"/>
            <h1>$59.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Tareta de Video</h3>
            <img src="imgs/producto7.jpg"/>
            <h1>$199.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

        <div class="producto-contenido">
            <h3>Placa Madre</h3>
            <img src="imgs/producto8.jpg"/>
            <h1>$99.99</h1>
            <button class="boton-comprar">Comprar</button>
        </div>

    </div>

</body>
</html>