<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contacto.css">
    <title>CONTACTENOS</title>
</head>
<body background="imgs/fondo2.jpg">
    
    <header>
        <nav class="inicio">
            <div class="paginas">
                <a href="index.html">INICIO</a>
                <a href="login.html">INICIAR SESION</a>
                <a href="articulos.html">ARTICULOS</a>
                <a href="enfoque.html">NUESTRO ENFOQUE</a>
                
            </div>
        </nav>
    </header>

    <main>

        <h1 class="texto1">NOS PUEDES ENCONTRAR EN NUESTRAS REDES SOCIALES</h1>


        <div class="img1">
            <a href="#">
                <img src="imgs/facebook.jpg" alt="facebook">
            </a>
            
        </div>

        <div class="img2">
            <a href="#">
                <img src="imgs/instagram1.jpg" alt="instagram">
            </a>
            
        </div>

        <div class="img3">
            <a href="#">
                <img src="imgs/twitter1.jpg" alt="twitter">
            </a>
            
        </div>






        <h1 class="texto2">TUS COMENTARIOS <br>
            SON IMPORTANTES PARA NOSOTROS</h1>

        <br>

        <input type="text" class="comentario" placeholder="">
        <input type="submit" class="enviar" value=" ENVIAR">


    </main>


</body>
</html>