<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="enfoque.css">
    <title>ENFOQUE</title>
</head>
<body>
    
    <header>
        <nav class="inicio">
            <div class="paginas">
                
                <a href="index.html">INICIO</a>
                <a href="login.html">INICIAR SESION</a>
                <a href="articulos.html">ARTICULOS</a>
                <a href="contacto.html">CONTACTANOS</a>
            </div>
        </nav>
    </header>

    <div class="txtinicio">
    <h1 class="principal" >CONTENIDO ORIGINAL, OPTIMIZADO <br>
        AL ALCANCE DE TUS MANOS.
    </h1 >
    <h3 class="principal2">
        nuestro objetivo con esta plataforma es que puedas solicitar diferentes gadgets y a su ves <br>
        te brindamos informacion de la tendencia de las tecnologia.
    </h3>

    </div>

    <div class="imagen">

    </div>

    <main>
    <h2 class="textop">
        Te ofrecemos productos de calidad y variedad de precios, ademas de tips e info de ciertas marcas <br>
        que estan en tendencia. <br>
        <br>
        Haci mismo si bien es verdad estamos en crecimiento por lo que te recomendamos <br>
        mantenerte al tanto para futuras actualicaciones de nuestra plataforma. 
    </h2>

    <div class="contenedor">
        <img src="imgs/confianza.jpg" alt="Imagen">
        </div>

    </main>
</body>
</html>