<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav class="inicio">
            <div class="paginas">
                
                <a href="login.html">INICIAR SESION</a>
                <a href="enfoque.html">NUESTRO ENFOQUE</a>
                <a href="articulos.html">ARTICULOS</a>
                <a href="contacto.html">CONTACTANOS</a>
            </div>
        </nav>
    </header>

    <h1 class="titulo">TE PRESENTAMOS LAS MARCAS MAS TOP DEL MOMENTO</h1>

    <main>
    <section class="texto1">
    
        <ul>
            <h2>Ventajas de las laptops ASUS</h2>

            <h3> Excelentes para Gaming</h3>
            <h3>Excelentes pantallas y relación pantalla-cuerpo</h3>
            <h3>Elementos de diseño innovadores</h3>
           
        </ul>

    <div class="contenedor1">
    <img src="imgs/asus.jpg" alt="Imagen">
    </div>

    </section>

    <section class="texto2">
    
        <ul>
            <h2>Ventajas de las laptops DELL</h2>

            <h3>Laptop ultra portátil</h3>
            <h3>Amplia gama de productos</h3>
            <h3>Batería decente</h3>
            <h3>Hardware potente</h3>
        </ul>

    <div class="contenedor2">
    <img src="imgs/dell.jpg" alt="Imagen">
    </div>
    </section>

    
    <section class="texto3">
    
        <ul>
            <h2>Ventajas de las laptops HP</h2>

            <h3>HP Ofrece laptops para todos los rangos de precio</h3>
            <h3>Tiene un sistema de atención al cliente decente</h3>
            <h3>Laptops convertibles son las más delgadas del mercado</h3>
            
        </ul>

    <div class="contenedor3">
    <img src="imgs/hp.jpg" alt="Imagen">
    </div>
    </section>

    <section class="texto4">
    
        <ul>
            <h2>Ventajas de las laptops MSI</h2>

            <h3>Líder mundial en Laptops Gamer gama alta</h3>
            <h3>Tienen alta capacidad de procesamiento</h3>
            <h3>Increíble calidad de construcción</h3>
            
        </ul>

    <div class="contenedor4">
    <img src="imgs/msi.jpg" alt="Imagen">
    </div>
    </section>

    <section class="texto5">
    
        <ul>
            <h2>Ventajas de las laptops LENOVO</h2>

            <h3>Sus componentes de hardware son extremadamente duraderos para todos los rangos de precio</h3>
            <h3>Lenovo ofrece laptops para todos los rangos de precio</h3>
            <h3>Amplia gama de laptops en diseño y forma</h3>
            
        </ul>

    <div class="contenedor5">
    <img src="imgs/lenovo.jpg" alt="Imagen">
    </div>
    </section>

    <section class="texto6">
    
        <ul>
            <h2>Ventajas de las laptops ACER</h2>

            <h3>Excelente calidad precio</h3>
            <h3>Laptops muy económicos y versátiles</h3>
            <h3>Amplia gama de productos</h3>
            
        </ul>

    <div class="contenedor6">
    <img src="imgs/acer.jpg" alt="Imagen">
    </div>
    </section>

    </main>

</body>
</html>
